p {
  margin: 0;
}
body {
    width: 1440px;
    display: flex;
    flex-direction: column;
    background-color: #E1D4C9;
    gap: 100px;
}
header{
    width: 100%;
    max-width: 1440px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.navigation a {
    position: relative;        
    color: #333;               
    text-decoration: none;     
    font-size: 18px;
    display: inline-block;     
}
h1, h2 {
    all: unset;
    display: block;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 50%;                
    bottom: -5px;
    width: 0;                
    height: 4px;
    background-color: #B0907A; 
    transition: width 0.3s ease, left 0.3s ease;
}


.navigation a:hover::after {
    width: 100%;               
    left: 0;                   
}
.box{
    width: 100%;
    max-width: 1360px;
    padding: 0px 40px 0px 40px;
}
#logo{
    width: 100px;
    height: 60px;
}
.header-menu{
    display: flex;
    justify-content: space-between;
}
.navigation{
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}
nav {
    width: 100%;
    max-width: 1032px;
}
.header-actions{
    gap:24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 184px;
}
.asd {
    display: flex;
    justify-self: center;
    height: 28px;
}
.hero-box{
     position: relative;
    max-width: 1360px;
    padding: 0px 40px 0px 40px;
    width: 100%;
}
.imghero{
   
    max-width: 1360px;
    border-radius: 40px;
  width: 100%;
}
.hero-text {
width: 530px;

height: 100%;
 position: absolute;
  top: 0;
  left: 100px;
gap: 40px;
display: flex;
  flex-direction: column; 
  gap: 40px;
  justify-content: center;

}
.enj{
    font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 72px;
line-height: 105%;
color: #B0907A;
}
.herotop{
    margin: 0;
font-family: 'Inter';
font-weight: 600;
font-size: 72px;
line-height: 105%;
color: #E1D4C9;
align-self: stretch;
}
.heromidl{
width: 530px;
height: 72px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #E1D4C9;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.hero-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 78px;
gap: 8px;
width: 200px;
height: 64px;
background: #E1D4C9;
border-radius: 100px;
flex: none;
order: 2;
flex-grow: 0;
}
.favorite-coffe{
    height: 799px;
padding: 0px 40px;
}
.coffe-box{
    display: flex;
    flex-direction: column;
    max-width: 1360px;
gap: 40px;
height: 799px;
}
.choose{
    margin: 0px;
    font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 60px;
leading-trim: NONE;
line-height: 125%;
letter-spacing: 0%;
text-align: center;
color: #403F3D;

}
.favor{
font-family: Inter;
font-weight: 600;
font-style: Italic;
font-size: 60px;
leading-trim: NONE;
line-height: 125%;
letter-spacing: 0%;
text-align: center;
color: #B0907A;

}
.coffe-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 1360px;
height: 684px;
gap: 40px;
angle: 0 deg;
opacity: 1;

}
.slider{
    width: 1360px;
height: 640px;
gap: 40px;
angle: 0 deg;
opacity: 1;
display: flex;
justify-content: space-between;
align-items: center;
}
.imgslide1{
    width: 480px;
    height: 480px;
}
.description{
    display: flex;
    flex-direction: column;
    width: 480px;
height: 140px;
gap: 16px;
opacity: 1;

}
.topic{
        margin: 0px;
    font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 125%;
letter-spacing: 0%;
text-align: center;

}
.descrip{
        margin: 0px;
    font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}
.cost{
    margin: 0px;
    font-family: 'Inter', sans-serif;
font-weight: 600;
font-size: 24px;
leading-trim: NONE;
line-height: 125%;
letter-spacing: 0%;
text-align: center;

}
.svgarr{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.controls{
    display: flex;
    gap: 16px;
    height: 4px;
    width: 140px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
width: 1440px;
height: 1325px;
gap: 40px;
opacity: 1;

}
.about-box{
    display: flex;
    flex-direction: column;
    width: 100%;
height: 1325px;
max-width: 1360px;
gap: 40px;

opacity: 1;


}
.about-text {
    color: #403F3D;
    margin: 0;
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-size: 59px;
    line-height: 125%;
    max-height: 225px;

    
    
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.imgCoffeWomen{
    width: 660px;
height: 590px;
opacity: 1;
border-radius: 20px;

}
.imgCoffe{
  object-fit: cover;
    width: 660px;
height: 430px;
opacity: 1;
border-radius: 20px;

}
.images{
    display:flex;
    flex-direction: row;
    width:100%;
height: 1060px;
max-width: 1360px;
gap: 40px;
opacity: 1;

}
.mobileApp{
    display: flex;
    flex-direction: row;
    justify-content: center;
width: 100%;
    max-width: 1440px;
height: 630px;
gap: 100px;
opacity: 1;
border-radius: 40px;

}
.offer{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 40px;
    width: 630px;
height: 342px;
gap: 40px;
opacity: 1;

}
.mobileAppBox{
    display:flex ;
    flex-direction: row;
    max-width: 1360px;
    width: 100%;
height: 630px;
gap: 100px;

opacity: 1;

}
.offerDescrip{
    margin: 0px;
    font-family: Inter,sans-serif;
font-weight: 400;
font-style:normal;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
color: #403F3D;
}
.offerButton{
    width: 200px;
height: 64px;
gap: 8px;
padding: 0px;
opacity: 1;
border-radius: 100px;
border-width: 1px;
background-color: #E1D4C9;
}
.offerimg{
    width: 630px;
    height: 630px;
}
.buttons{
    width: 420px;
height: 64px;
gap: 20px;
opacity: 1;

    display: flex;

}
.sip{
    margin: 0px;
font-family: Inter,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 60px;

line-height: 125%;
letter-spacing: 0%;

color:#E1D4C9;
}
.contactsBox{
    background-color: #665F55;
    display: flex;
    flex-direction: row;
    width: 100%;
height: 450;
max-width: 1160px;
gap: 100px;
opacity: 1;
border-radius: 40px;
padding: 100px;

}
.contactsOffer{
    display:flex;
    flex-direction: column;
    width: 530px;
height: 250px;
gap: 40px;
opacity: 1;

}
.contacts{
    display: flex;
    justify-content: center;
}
.twiterBtn{
    width: 60px;
height: 60px;
opacity: 1;
border-radius: 100px;
border-width: 1px;
background-color: #665F55;

}
.social{
    display: flex;
    width: 204px;
height: 60px;
gap: 12px;

opacity: 1;

}
.contactsInfo{
    display: flex;
    flex-direction: column;
    justify-content:center; 
    width: 530px;
height: 186px;
gap: 40px;

opacity: 1;

}
.contactUs{
    font-family: Inter,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 24px;
line-height: 125%;
letter-spacing: 0%;
color: #E1D4C9;
}
.conInf{
    font-family: Inter,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
color: #E1D4C9;
}
.con{
    display: flex;
    flex-direction: column;
    width: 195px;
height: 116px;
gap: 16px;
opacity: 1;

}